<!doctype html>
<html>
<head>
	<title>Library Database</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script type="text/javascript" src="/scripts/site.js"></script>
</head>
<body>
	{{{body}}}
</body>
</html>