<style>
form {padding: 0px 25px 50px 25px;}
h1 {padding-left: 10px}
</style>

<h1>Check Out Book</h1>

{{!-- Form for checking out a book by a patron in the system --}}
<form id="bookCheckOut"> 
    <input type="number" id = "bookID" name="bookID" placeholder="Which book is being checked out">
    <input type="number" id = "patronID" name="patronID" placeholder="Which patron is checking out">
    
    <input type="submit" value="Submit">
</form>

<h1>Return Book</h1>

{{!-- Form for returning a checked out book in the system --}}
<form id="booksReturn"> 
    <input type="number" id = "bookID" name="bookID" placeholder="Which book is being returned">
    
    <input type="submit" value="Submit">
</form>