<<<<<<< HEAD
<!-- Add Row Form  -->
<h1>Add Table Entry</h1>


<form id="addRow"> 
    <input type="text" id = "name" name="name" placeholder="Name">
    <input type="number" id = "reps" name="reps" placeholder="Reps">
    <input type="number" id = "weight" name="weight" placeholder="Weight - Choose lbs or kg">
    <input type="text" id = "unit" name="unit" placeholder="Please Type lbs or kg">
    
    <input type="date" id = "date" name="date" value="YYYY-MM-DD">
    <input type="submit" value="Submit">
</form>

{{!-- Insert into Books --}}
<h1>Add Entry to Books</h1>


<form id="addRow"> 
    <input type="text" id = "name" name="name" placeholder="Name">
    <input type="number" id = "reps" name="reps" placeholder="Reps">
    <input type="number" id = "weight" name="weight" placeholder="Weight - Choose lbs or kg">
    <input type="text" id = "unit" name="unit" placeholder="Please Type lbs or kg">
    
    <input type="date" id = "date" name="date" value="YYYY-MM-DD">
    <input type="submit" value="Submit">
</form>

{{!-- Insert Into Libraries --}}
<h1>Add Entry to Libraries</h1>


<form id="addRow"> 
    <input type="text" id = "name" name="name" placeholder="Name">
    <input type="number" id = "reps" name="reps" placeholder="Reps">
    <input type="number" id = "weight" name="weight" placeholder="Weight - Choose lbs or kg">
    <input type="text" id = "unit" name="unit" placeholder="Please Type lbs or kg">
    
    <input type="date" id = "date" name="date" value="YYYY-MM-DD">
    <input type="submit" value="Submit">
</form>

{{!-- Insert Into Patrons --}}
<h1>Add Entry to Patrons</h1>


<form id="addRow"> 
    <input type="text" id = "name" name="name" placeholder="Name">
    <input type="number" id = "reps" name="reps" placeholder="Reps">
    <input type="number" id = "weight" name="weight" placeholder="Weight - Choose lbs or kg">
    <input type="text" id = "unit" name="unit" placeholder="Please Type lbs or kg">
    
    <input type="date" id = "date" name="date" value="YYYY-MM-DD">
    <input type="submit" value="Submit">
</form>


{{!-- Insert into Books --}}
<h1>Add Entry to Books</h1>


<form id="addRow"> 
    <input type="text" id = "name" name="name" placeholder="Name">
    <input type="number" id = "reps" name="reps" placeholder="Reps">
    <input type="number" id = "weight" name="weight" placeholder="Weight - Choose lbs or kg">
    <input type="text" id = "unit" name="unit" placeholder="Please Type lbs or kg">
    
    <input type="date" id = "date" name="date" value="YYYY-MM-DD">
    <input type="submit" value="Submit">
</form>

{{!-- Insert into Genres --}}
<h1>Add Entry to Genres</h1>


<form id="addRow"> 
    <input type="text" id = "name" name="name" placeholder="Name">
    <input type="number" id = "reps" name="reps" placeholder="Reps">
    <input type="number" id = "weight" name="weight" placeholder="Weight - Choose lbs or kg">
    <input type="text" id = "unit" name="unit" placeholder="Please Type lbs or kg">
    
    <input type="date" id = "date" name="date" value="YYYY-MM-DD">
    <input type="submit" value="Submit">
</form>

{{!-- Insert into Authors --}}
<h1>Add Entry to Authors</h1>


<form id="addRow"> 
    <input type="text" id = "name" name="name" placeholder="Name">
    <input type="number" id = "reps" name="reps" placeholder="Reps">
    <input type="number" id = "weight" name="weight" placeholder="Weight - Choose lbs or kg">
    <input type="text" id = "unit" name="unit" placeholder="Please Type lbs or kg">
    
    <input type="date" id = "date" name="date" value="YYYY-MM-DD">
    <input type="submit" value="Submit">
</form>
=======
<h1>Insert</h1>
>>>>>>> 96284e078bc51c56373a3865d8ec418092e9a983
